{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "minMsi": 92.78,
    "minCoveredMsi": 93.75
}
