{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "minMsi": 84.54,
    "minCoveredMsi": 85.42
}
